body{
	background-color: #bebebe;
}
#wrapper {
	background-color:#788D9D;
	width: 450px;
	height: 230px;
	margin:0 auto;
	padding:1% 1%;
}
table{
	margin:0 auto;
}
td{
	border:1px solid black;
	background-color:white;
	width:100px;
	height:50px;
}
td img{
}
#send, #save{
	float:right;
	padding-right:100px;
	width:10px;
}
#favorites{
	padding:10px 0px 50px 0px;
}
#favorites select{
	width:130px;
}
p{
	margin:0px;
}
h1{
	width:200px;
	margin:0 auto;
	padding-bottom:20px;
}
th, h1{
	font-family: Arial Black;
}